<header class="nav_header">
  <%= link_to("Home", root_path) %> - <%= link_to("Blog Posts", blog_posts_path) %> - <%= link_to("About Me", user_path(@user.id)) %>
  <div class ="top_line"></div>
</header>

<div id="projects_list">
  <ul>
    <% @projects.each do |project| %>
      <h2><%= project.title %></h2>
      <li class="project_text"><%= project.description %></li>
      <p>Feel free to check it out at <%= link_to(project.link, project.link) %></p>
    <% end %>
  </ul>
</div>

<footer class="nav_footer">
  <div class="bot_line"></div>
  <a href="mailto:nick.brown2014@gmail.com?Subject=Hello"><img id="mail_nav" src="/assets/email_logo.gif"></a>
  <a href="https://github.com/nick-brown2014"><img src="/assets/github-clear.png"></a>
  <a href="https://www.linkedin.com/pub/nick-brown/88/178/b62/"><img id="link_nav" src="/assets/linkedin_png.png"></a>
  <a href="https://twitter.com/SunnyBrownCC"><img src="/assets/twitter-bird.png"></a>
</footer>